body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  border: 2px solid gray;
  padding: 10px;
}

.box > h1:first-child,
.box > h2:first-child,
.box > h3:first-child,
.box > h4:first-child {
  margin-top: 0;
}

.box label {
  font-weight: bold;
}